.color-white{color:$white}
.btn-info{
  color: $white;
  background-color: $blue;
  border-color: $blue;
}
.script-font{font-family: 'Berkshire Swash', cursive;text-transform: initial}
#app.has-slider header{
  margin-bottom: 0px !important;
}
